language: node_js
services:
- mongodb
- redis-server
node_js:
- node
- '6'
- '4'
- iojs
- '0.12'
- '0.10'
sudo: false
before_script:
- npm install -g codeclimate-test-reporter
after_script:
- codeclimate-test-reporter < coverage/lcov.info
addons:
  code_climate:
    repo_token: 06b8dc742952026e653b19b48e0b867d50fdef28749e7f9e480adf911c084cab
notifications:
  email: false
  slack:
    rooms:
      secure: BvvsZ7BnKeiZa5gY+yySGJO+p6asqbvtGn/ngxpBVmu/zF7zVb0dhQTm7DvkIgfJBLYR26fDFsFCb9v1Ckrba5ROIXRyE1PJb9rss5HxEarKjuUX3pMfhlUqsk9Q/vwiYw0QreQayWzs7Wzk7EKI5Yhphca822mhS8F4gRTIzwQ=
